CLSPC_JDTLS_HOME=/absolute/path/to/jdtls
CLSPC_JAVA_BIN=java

CLSPC_DEMO_ROOT=/absolute/path/to/playground
CLSPC_DEMO_WORKSPACE=/tmp/clspc-demo-workspace
CLSPC_DEMO_FILE=/absolute/path/to/<file>
CLSPC_DEMO_METHOD=<method-name>
CLSPC_DEMO_MAX_DEPTH=3


# Linux
CLSPC_TIMEOUT_BIN=/usr/bin/timeout

# macOS
# CLSPC_TIMEOUT_BIN=/opt/homebrew/bin/gtimeout
